Node-Red-Flow/Old_flow/MQTT_Broker_Database.json
[{"id":"6aba12e.8e2b96c","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"4f0240b8.2e1d6","type":"mqtt in","z":"6aba12e.8e2b96c","name":"Rasberry Broker","topic":"/esp32/#","qos":"2","datatype":"auto","broker":"e30dd487.b03488","x":120,"y":100,"wires":[["34ee5534.2da25a"]]},{"id":"fa967489.0b9be","type":"file","z":"6aba12e.8e2b96c","name":"Bluetooth Data txt","filename":"C:\\Users\\lordg\\OneDrive\\Asiakirjat\\Trade\\bt_laitteet.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":590,"y":100,"wires":[[]]},{"id":"34ee5534.2da25a","type":"function","z":"6aba12e.8e2b96c","name":"","func":"var out = \"INSERT INTO BTdata (timestamp,topic,data)\"\nout = out + \"VALUES ('\" + new Date().toISOString() + \"','\" \nout = out + msg.topic + \"','\" + msg.payload + \"');\"\n    \nmsg.topic=out;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":180,"wires":[["fa967489.0b9be","9c0a3a27.cfaae8","82c6af1c.27d9a"]]},{"id":"9c0a3a27.cfaae8","type":"sqlite","z":"6aba12e.8e2b96c","mydb":"e2781b5.a8d8668","sqlquery":"msg.topic","sql":"","name":"BT database","x":590,"y":260,"wires":[[]]},{"id":"3ddeab76.048174","type":"inject","z":"6aba12e.8e2b96c","name":"CREATE TABLE","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"CREATE TABLE BTdata(id INTEGER PRIMARY KEY AUTOINCREMENT, timestamp STRING, topic STRING, data)","x":150,"y":260,"wires":[["9c0a3a27.cfaae8"]]},{"id":"82c6af1c.27d9a","type":"debug","z":"6aba12e.8e2b96c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":640,"y":180,"wires":[]},{"id":"e30dd487.b03488","type":"mqtt-broker","z":"","name":"Raspberry Broker","broker":"192.168.86.225","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e2781b5.a8d8668","type":"sqlitedb","z":"","db":"C:\\Users\\lordg\\OneDrive\\Asiakirjat\\Trade\\bt_data.db","mode":"RWC"}]