Node-Red-Flow/flows.json
[{"id":"778fa11d.c85148","type":"tab","label":"MQTT DB","disabled":false,"info":""},{"id":"99ef2170.91c2e","type":"mqtt in","z":"778fa11d.c85148","name":"Rasberry Broker","topic":"/esp32/#","qos":"2","datatype":"auto","broker":"e30dd487.b03488","x":260,"y":100,"wires":[["ec749a33.07d12"]]},{"id":"ec749a33.07d12","type":"function","z":"778fa11d.c85148","name":"","func":"// SQL Command to insert data into database\nvar out = \"INSERT INTO BTdata (date, time, topic, data)\"\n\nvar today = new Date()\nvar time = today.toLocaleTimeString();\nvar date = today.getDate()+'.'+(today.getMonth()+1)+'.'+today.getFullYear();\n\nout = out + \"VALUES ('\" + date + \"','\" + time + \"','\" \nout = out + msg.topic + \"','\" + msg.payload + \"');\"\n    \nmsg.topic=out;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":100,"wires":[["7d1a3be.20d0744","7afbb2e7.691264"]]},{"id":"7d1a3be.20d0744","type":"sqlite","z":"778fa11d.c85148","mydb":"e2781b5.a8d8668","sqlquery":"msg.topic","sql":"","name":"BT database","x":510,"y":220,"wires":[[]]},{"id":"f36acef4.e913f8","type":"inject","z":"778fa11d.c85148","name":"CREATE TABLE","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"CREATE TABLE BTdata(id INTEGER PRIMARY KEY AUTOINCREMENT, date STRING, time STRING, topic STRING, data)","x":140,"y":220,"wires":[["7d1a3be.20d0744"]]},{"id":"835c4790.44ef08","type":"comment","z":"778fa11d.c85148","name":"1. This must be configured for the database to work","info":"","x":490,"y":180,"wires":[]},{"id":"5c4ac7cf.4383e","type":"comment","z":"778fa11d.c85148","name":"2. Press after deploy","info":"","x":120,"y":180,"wires":[]},{"id":"e03f7c6f.95ae4","type":"http in","z":"778fa11d.c85148","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":80,"y":380,"wires":[["9f8f931f.b5b0b8"]]},{"id":"9f8f931f.b5b0b8","type":"change","z":"778fa11d.c85148","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"SELECT * FROM BTdata","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":380,"wires":[["eeb80ecc.10572"]]},{"id":"88b95e43.28155","type":"inject","z":"778fa11d.c85148","name":"POISTA DB, ÄLÄ PAINA TURHAAN","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"DROP TABLE BTdata","x":200,"y":280,"wires":[["7d1a3be.20d0744"]]},{"id":"57dbae21.9f86c","type":"http in","z":"778fa11d.c85148","name":"","url":"/data/today","method":"get","upload":false,"swaggerDoc":"","x":100,"y":440,"wires":[["eefda623.73d248"]]},{"id":"eefda623.73d248","type":"function","z":"778fa11d.c85148","name":"","func":"// SQL Command to fetch data from database, todays input\nvar today = new Date()\nvar time = today.toLocaleTimeString();\nvar date = today.getDate()+'.'+(today.getMonth()+1)+'.'+today.getFullYear();\nconsole.log(\"SQL COMMAND: SELECT * FROM BTdata WHERE date='\" + date +\"'\");\nvar out = \"SELECT * FROM BTdata WHERE date='\" + date +\"'\"\n    \nmsg.topic=out;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":440,"wires":[["eeb80ecc.10572"]]},{"id":"679c8a0b.01b90c","type":"change","z":"778fa11d.c85148","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"application/json","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":460,"wires":[["21e822c1.a79f26"]]},{"id":"47ea4cd9.a04a6c","type":"http in","z":"778fa11d.c85148","name":"","url":"/data/week","method":"get","upload":false,"swaggerDoc":"","x":100,"y":500,"wires":[["db4f2f27.87b31"]]},{"id":"db4f2f27.87b31","type":"function","z":"778fa11d.c85148","name":"","func":"// SQL Command to fetch data from database, todays input\n\nvar today = new Date();\nvar lastWeek = new Date(Date.now() - 604800000);\n\nvar time = today.toLocaleTimeString();\nvar date = today.getDate()+'.'+(today.getMonth()+1)+'.'+today.getFullYear();\nvar weekAgo = lastWeek.getDate()+'.'+(lastWeek.getMonth()+1)+'.'+lastWeek.getFullYear();\n\nconsole.log(\"SQL COMMAND: SELECT * FROM BTdata WHERE date BETWEEN '\" + weekAgo +\"' AND '\" + date +\"'\");\nvar out = \"SELECT * FROM BTdata WHERE date BETWEEN '\" + weekAgo +\"' AND '\" + date +\"'\"\n\nvar ourDate = new Date();\n\nmsg.topic=out;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":500,"wires":[["eeb80ecc.10572"]]},{"id":"eeb80ecc.10572","type":"sqlite","z":"778fa11d.c85148","mydb":"e2781b5.a8d8668","sqlquery":"msg.topic","sql":"","name":"BT database","x":610,"y":540,"wires":[["679c8a0b.01b90c"]]},{"id":"21e822c1.a79f26","type":"http response","z":"778fa11d.c85148","name":"","statusCode":"","headers":{},"x":750,"y":460,"wires":[]},{"id":"ca57966a.56803","type":"function","z":"778fa11d.c85148","name":"","func":"// SQL Command to fetch data from database, todays input\nvar today = new Date()\nvar time = today.toLocaleTimeString();\nvar date = today.getDate()+'.'+(today.getMonth()+1)+'.'+today.getFullYear();\nconsole.log(\"SQL COMMAND: SELECT COUNT ( DISTINCT data ) FROM BTdata WHERE date='\" + date +\"'\");\nvar out = \"SELECT COUNT ( DISTINCT data ) FROM BTdata WHERE date='\" + date +\"'\"\n    \nmsg.topic=out;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":680,"wires":[["eeb80ecc.10572"]]},{"id":"c6be8c0c.cb861","type":"http in","z":"778fa11d.c85148","name":"","url":"/data/today/unique/count","method":"get","upload":false,"swaggerDoc":"","x":140,"y":680,"wires":[["ca57966a.56803"]]},{"id":"cb4776e4.5ed9b8","type":"http in","z":"778fa11d.c85148","name":"","url":"/data/week/unique/count","method":"get","upload":false,"swaggerDoc":"","x":140,"y":740,"wires":[["1b933406.846b24"]]},{"id":"1b933406.846b24","type":"function","z":"778fa11d.c85148","name":"","func":"// SQL Command to fetch data from database, todays input\n\nvar today = new Date();\nvar lastWeek = new Date(Date.now() - 604800000);\n\nvar time = today.toLocaleTimeString();\nvar date = today.getDate()+'.'+(today.getMonth()+1)+'.'+today.getFullYear();\nvar weekAgo = lastWeek.getDate()+'.'+(lastWeek.getMonth()+1)+'.'+lastWeek.getFullYear();\n\nconsole.log(\"SQL COMMAND: SELECT COUNT ( DISTINCT data ) FROM BTdata WHERE date BETWEEN '\" + weekAgo +\"' AND '\" + date +\"'\");\nvar out = \"SELECT COUNT ( DISTINCT data ) FROM BTdata WHERE date BETWEEN '\" + weekAgo +\"' AND '\" + date +\"'\"\n\nvar ourDate = new Date();\n\nmsg.topic=out;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":740,"wires":[["eeb80ecc.10572"]]},{"id":"d1d4f3a9.d6e718","type":"function","z":"778fa11d.c85148","name":"","func":"// SQL Command to fetch data from database, todays input\nvar today = new Date()\nvar time = today.toLocaleTimeString();\nvar date = today.getDate()+'.'+(today.getMonth()+1)+'.'+today.getFullYear();\nconsole.log(\"SQL COMMAND: SELECT DISTINCT data FROM BTdata WHERE date='\" + date +\"'\");\nvar out = \"SELECT DISTINCT data FROM BTdata WHERE date='\" + date +\"'\"\n    \nmsg.topic=out;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":560,"wires":[["eeb80ecc.10572"]]},{"id":"7aaa6097.8a0d7","type":"http in","z":"778fa11d.c85148","name":"","url":"/data/today/unique","method":"get","upload":false,"swaggerDoc":"","x":120,"y":560,"wires":[["d1d4f3a9.d6e718"]]},{"id":"cae07e7d.6da2a","type":"http in","z":"778fa11d.c85148","name":"","url":"/data/week/unique","method":"get","upload":false,"swaggerDoc":"","x":120,"y":620,"wires":[["1af60d94.f606e2"]]},{"id":"1af60d94.f606e2","type":"function","z":"778fa11d.c85148","name":"","func":"// SQL Command to fetch data from database, todays input\n\nvar today = new Date();\nvar lastWeek = new Date(Date.now() - 604800000);\n\nvar time = today.toLocaleTimeString();\nvar date = today.getDate()+'.'+(today.getMonth()+1)+'.'+today.getFullYear();\nvar weekAgo = lastWeek.getDate()+'.'+(lastWeek.getMonth()+1)+'.'+lastWeek.getFullYear();\n\nconsole.log(\"SQL COMMAND: SELECT DISTINCT data FROM BTdata WHERE date BETWEEN '\" + weekAgo +\"' AND '\" + date +\"'\");\nvar out = \"SELECT DISTINCT data  FROM BTdata WHERE date BETWEEN '\" + weekAgo +\"' AND '\" + date +\"'\"\n\nvar ourDate = new Date();\n\nmsg.topic=out;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":620,"wires":[["eeb80ecc.10572"]]},{"id":"8ec76dc3.a72b78","type":"function","z":"778fa11d.c85148","name":"","func":"// SQL Command to fetch data from database, todays input\nvar today = new Date()\nvar time = today.toLocaleTimeString();\nvar date = today.getDate()+'.'+(today.getMonth()+1)+'.'+today.getFullYear();\nconsole.log(\"SQL COMMAND: SELECT COUNT ( DISTINCT data ) FROM BTdata WHERE date='\" + date +\"'\");\nvar out = \"SELECT COUNT (ALL id) FROM BTdata WHERE date='\" + date +\"'\"\n    \nmsg.topic=out;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":800,"wires":[["eeb80ecc.10572"]]},{"id":"8a0c816a.169cf","type":"http in","z":"778fa11d.c85148","name":"","url":"/data/today/count","method":"get","upload":false,"swaggerDoc":"","x":120,"y":800,"wires":[["8ec76dc3.a72b78"]]},{"id":"19f3c32b.b53e85","type":"http in","z":"778fa11d.c85148","name":"","url":"/data/week/count","method":"get","upload":false,"swaggerDoc":"","x":120,"y":860,"wires":[["43cf5598.1a1b5c"]]},{"id":"43cf5598.1a1b5c","type":"function","z":"778fa11d.c85148","name":"","func":"// SQL Command to fetch data from database, todays input\n\nvar today = new Date();\nvar lastWeek = new Date(Date.now() - 604800000);\n\nvar time = today.toLocaleTimeString();\nvar date = today.getDate()+'.'+(today.getMonth()+1)+'.'+today.getFullYear();\nvar weekAgo = lastWeek.getDate()+'.'+(lastWeek.getMonth()+1)+'.'+lastWeek.getFullYear();\n\nconsole.log(\"SQL COMMAND: SELECT COUNT ( DISTINCT data ) FROM BTdata WHERE date BETWEEN '\" + weekAgo +\"' AND '\" + date +\"'\");\nvar out = \"SELECT COUNT (ALL id) FROM BTdata WHERE date BETWEEN '\" + weekAgo +\"' AND '\" + date +\"'\"\n\nvar ourDate = new Date();\n\nmsg.topic=out;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":860,"wires":[["eeb80ecc.10572"]]},{"id":"9b02c7b1.7a9178","type":"http in","z":"778fa11d.c85148","name":"","url":"/data/all/count","method":"get","upload":false,"swaggerDoc":"","x":110,"y":920,"wires":[["a1f583ca.091818"]]},{"id":"a1f583ca.091818","type":"function","z":"778fa11d.c85148","name":"","func":"// SQL Command to fetch data from database, todays input\n\nconsole.log(\"SELECT COUNT (ALL data) FROM BTdata\");\nvar out = \"SELECT COUNT (ALL data) FROM BTdata\";\n    \nmsg.topic=out;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":920,"wires":[["eeb80ecc.10572"]]},{"id":"70b7508f.a3318","type":"function","z":"778fa11d.c85148","name":"","func":"// SQL Command to fetch data from database, todays input\n\nconsole.log(\"SQL COMMAND: SELECT DISTINCT data FROM BTdata\");\nvar out = \"SELECT DISTINCT data FROM BTdata\"\n    \nmsg.topic=out;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":980,"wires":[["eeb80ecc.10572"]]},{"id":"a910df5b.f68aa8","type":"http in","z":"778fa11d.c85148","name":"","url":"/data/all/unique","method":"get","upload":false,"swaggerDoc":"","x":110,"y":980,"wires":[["70b7508f.a3318"]]},{"id":"ff152ee3.7e615","type":"http in","z":"778fa11d.c85148","name":"","url":"/data/all/unique/count","method":"get","upload":false,"swaggerDoc":"","x":130,"y":1040,"wires":[["a9d68eb5.48c89"]]},{"id":"a9d68eb5.48c89","type":"function","z":"778fa11d.c85148","name":"","func":"// SQL Command to fetch data from database, todays input\n\nconsole.log(\"SQL COMMAND: SELECT DISTINCT data FROM BTdata\");\nvar out = \"SELECT COUNT (DISTINCT data) FROM BTdata\"\n    \nmsg.topic=out;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":1040,"wires":[["eeb80ecc.10572"]]},{"id":"5a3eadf4.85cc04","type":"http request","z":"778fa11d.c85148","name":"/data/today/uniquedata","method":"GET","ret":"obj","paytoqs":"ignore","url":"localhost:1880/data/today/uniquedata","tls":"","persist":false,"proxy":"","authType":"","x":350,"y":1400,"wires":[["c97a428.702f74"]]},{"id":"c97a428.702f74","type":"ui_table","z":"778fa11d.c85148","group":"f997e2dd.f488c8","name":"","order":1,"width":"6","height":"12","columns":[],"outputs":0,"cts":false,"x":570,"y":1400,"wires":[]},{"id":"ae0b6aa0.5ecac","type":"http request","z":"778fa11d.c85148","name":"today/unique/count","method":"GET","ret":"obj","paytoqs":"ignore","url":"localhost:1880/data/today/unique/count","tls":"","persist":false,"proxy":"","authType":"","x":330,"y":1440,"wires":[["c404ce4c.6cd6b8","ea9d149.5687668"]]},{"id":"c404ce4c.6cd6b8","type":"ui_table","z":"778fa11d.c85148","group":"f997e2dd.f488c8","name":"","order":1,"width":0,"height":0,"columns":[],"outputs":0,"cts":false,"x":570,"y":1440,"wires":[]},{"id":"455391c9.54bbd8","type":"ui_table","z":"778fa11d.c85148","group":"a1c86e0a.7a78","name":"","order":2,"width":0,"height":0,"columns":[],"outputs":0,"cts":false,"x":570,"y":1520,"wires":[]},{"id":"6bf2bafd.3c1fbc","type":"ui_table","z":"778fa11d.c85148","group":"a1c86e0a.7a78","name":"","order":1,"width":"6","height":"12","columns":[],"outputs":0,"cts":false,"x":570,"y":1480,"wires":[]},{"id":"8b20f63a.ca6a9","type":"http request","z":"778fa11d.c85148","name":"/data/week/uniquedata","method":"GET","ret":"obj","paytoqs":"ignore","url":"localhost:1880/data/week/uniquedata","tls":"","persist":false,"proxy":"","authType":"","x":340,"y":1480,"wires":[["6bf2bafd.3c1fbc"]]},{"id":"9fff0c7c.b7978","type":"http request","z":"778fa11d.c85148","name":"week/unique/count","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://localhost:1880/data/week/unique/count","tls":"","persist":false,"proxy":"","authType":"","x":330,"y":1520,"wires":[["455391c9.54bbd8","61111e19.dc1478"]]},{"id":"bb9fabc8.2eec88","type":"function","z":"778fa11d.c85148","name":"","func":"// SQL Command to fetch data from database, todays input\nvar today = new Date()\nvar time = today.toLocaleTimeString();\nvar date = today.getDate()+'.'+(today.getMonth()+1)+'.'+today.getFullYear();\nconsole.log(\"SELECT date, time, data FROM BTdata WHERE date='\" + date +\"' GROUP BY data ORDER BY time ASC;\");\nvar out = \"SELECT date, time, data FROM BTdata WHERE date='\" + date +\"' GROUP BY data ORDER BY time ASC;\"\n    \nmsg.topic=out;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":1100,"wires":[["eeb80ecc.10572"]]},{"id":"59e1f765.c5e138","type":"http in","z":"778fa11d.c85148","name":"","url":"/data/today/uniquedata","method":"get","upload":false,"swaggerDoc":"","x":140,"y":1100,"wires":[["bb9fabc8.2eec88"]]},{"id":"ea075657.3b0698","type":"http in","z":"778fa11d.c85148","name":"","url":"/data/week/uniquedata","method":"get","upload":false,"swaggerDoc":"","x":140,"y":1160,"wires":[["cbfeaa5b.b65cf"]]},{"id":"cbfeaa5b.b65cf","type":"function","z":"778fa11d.c85148","name":"","func":"// SQL Command to fetch data from database, todays input\n\nvar today = new Date();\nvar lastWeek = new Date(Date.now() - 604800000);\n\nvar time = today.toLocaleTimeString();\nvar date = today.getDate()+'.'+(today.getMonth()+1)+'.'+today.getFullYear();\nvar weekAgo = lastWeek.getDate()+'.'+(lastWeek.getMonth()+1)+'.'+lastWeek.getFullYear();\n\nconsole.log(\"SELECT date, time, data FROM BTdata WHERE date BETWEEN '\" + weekAgo +\"' AND '\" + date +\"' GROUP BY data ORDER BY date, time ASC;\");\nvar out = \"SELECT date, time, data FROM BTdata WHERE date BETWEEN '\" + weekAgo +\"' AND '\" + date +\"' GROUP BY data ORDER BY date, time ASC;\";\n\nvar ourDate = new Date();\n\nmsg.topic=out;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":1160,"wires":[["eeb80ecc.10572"]]},{"id":"ea9d149.5687668","type":"json","z":"778fa11d.c85148","name":"","property":"payload[0][\"COUNT ( DISTINCT data )\"]","action":"","pretty":false,"x":250,"y":1740,"wires":[["49f3da70.ded134"]]},{"id":"f5127dea.cb37d8","type":"inject","z":"778fa11d.c85148","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":1500,"wires":[["ae0b6aa0.5ecac","9fff0c7c.b7978","ea4f2a1.837cb58","58dd257f.2c4174","5a3eadf4.85cc04","8b20f63a.ca6a9","b2df7f30.3170a8"]]},{"id":"49f3da70.ded134","type":"function","z":"778fa11d.c85148","name":"","func":"i = msg.payload[0][\"COUNT ( DISTINCT data )\"];\n\ni = Number(i);\nmsg.payload = i;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":1740,"wires":[["da36411e.7de678"]]},{"id":"61111e19.dc1478","type":"json","z":"778fa11d.c85148","name":"","property":"payload[0][\"COUNT ( DISTINCT data )\"]","action":"","pretty":false,"x":250,"y":1800,"wires":[["610a2b70.d42ac4"]]},{"id":"610a2b70.d42ac4","type":"function","z":"778fa11d.c85148","name":"","func":"i = msg.payload[0][\"COUNT ( DISTINCT data )\"];\n\ni = Number(i);\nmsg.payload = i;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":1800,"wires":[["d01a2e4f.615ef8"]]},{"id":"355fc6e3.3a7c1a","type":"ui_table","z":"778fa11d.c85148","group":"f6b94987.5f9388","name":"","order":2,"width":0,"height":0,"columns":[],"outputs":0,"cts":false,"x":570,"y":1600,"wires":[]},{"id":"fe545918.502ce","type":"ui_table","z":"778fa11d.c85148","group":"f6b94987.5f9388","name":"table","order":1,"width":"6","height":"12","columns":[],"outputs":0,"cts":false,"x":570,"y":1560,"wires":[]},{"id":"58dd257f.2c4174","type":"http request","z":"778fa11d.c85148","name":"all/unique","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://localhost:1880/data/all/uniquedata","tls":"","persist":false,"proxy":"","authType":"","x":300,"y":1560,"wires":[["fe545918.502ce"]]},{"id":"ea4f2a1.837cb58","type":"http request","z":"778fa11d.c85148","name":"all/unique/count","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://localhost:1880/data/all/unique/count","tls":"","persist":false,"proxy":"","authType":"","x":320,"y":1600,"wires":[["355fc6e3.3a7c1a","f755e007.6be24"]]},{"id":"f755e007.6be24","type":"json","z":"778fa11d.c85148","name":"","property":"payload[0][\"COUNT ( DISTINCT data )\"]","action":"","pretty":false,"x":250,"y":1860,"wires":[["37bdaa80.e166fe"]]},{"id":"37bdaa80.e166fe","type":"function","z":"778fa11d.c85148","name":"","func":"i = msg.payload[0][\"COUNT (DISTINCT data)\"];\n\nmsg.payload = i;\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":1860,"wires":[["4343ea53.e02d1c"]]},{"id":"4b1860aa.fc535","type":"http in","z":"778fa11d.c85148","name":"","url":"/data/all/uniquedata","method":"get","upload":false,"swaggerDoc":"","x":130,"y":1220,"wires":[["51589990.76c2e8"]]},{"id":"51589990.76c2e8","type":"function","z":"778fa11d.c85148","name":"","func":"// SQL Command to fetch data from database, todays input\n\nvar today = new Date();\nvar lastWeek = new Date(Date.now() - 604800000);\n\nvar time = today.toLocaleTimeString();\nvar date = today.getDate()+'.'+(today.getMonth()+1)+'.'+today.getFullYear();\nvar weekAgo = lastWeek.getDate()+'.'+(lastWeek.getMonth()+1)+'.'+lastWeek.getFullYear();\n\nconsole.log(\"SELECT date, time, data FROM BTdata GROUP BY data ORDER BY date, time ASC;\");\nvar out = \"SELECT date, time, data FROM BTdata GROUP BY data ORDER BY date, time ASC;\";\n\nvar ourDate = new Date();\n\nmsg.topic=out;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":1220,"wires":[["eeb80ecc.10572"]]},{"id":"da36411e.7de678","type":"ui_text","z":"778fa11d.c85148","group":"5f33ead1.0b9ae4","order":1,"width":0,"height":0,"name":"","label":"Unique devices today:","format":"{{msg.payload}}","layout":"row-spread","x":620,"y":1740,"wires":[]},{"id":"d01a2e4f.615ef8","type":"ui_text","z":"778fa11d.c85148","group":"5f33ead1.0b9ae4","order":2,"width":0,"height":0,"name":"","label":"Unique devices this week:","format":"{{msg.payload}}","layout":"row-spread","x":630,"y":1800,"wires":[]},{"id":"4343ea53.e02d1c","type":"ui_text","z":"778fa11d.c85148","group":"5f33ead1.0b9ae4","order":3,"width":0,"height":0,"name":"","label":"Unique devices total:","format":"{{msg.payload}}","layout":"row-spread","x":620,"y":1860,"wires":[]},{"id":"31c70498.e641ac","type":"json","z":"778fa11d.c85148","name":"","property":"payload[0][\"COUNT ( DISTINCT data )\"]","action":"","pretty":false,"x":250,"y":1920,"wires":[["f214b9ec.fb85e"]]},{"id":"f214b9ec.fb85e","type":"function","z":"778fa11d.c85148","name":"","func":"i = msg.payload[0][\"COUNT (ALL data)\"];\n\nmsg.payload = i;\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":1920,"wires":[["fa9d3a8.cc94cc8"]]},{"id":"fa9d3a8.cc94cc8","type":"ui_text","z":"778fa11d.c85148","group":"5f33ead1.0b9ae4","order":4,"width":0,"height":0,"name":"","label":"Total scannes devices:","format":"{{msg.payload}}","layout":"row-spread","x":620,"y":1920,"wires":[]},{"id":"b2df7f30.3170a8","type":"http request","z":"778fa11d.c85148","name":"data/all/count","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://localhost:1880/data/all/count","tls":"","persist":false,"proxy":"","authType":"","x":320,"y":1640,"wires":[["31c70498.e641ac"]]},{"id":"ddb4e505.ff45b8","type":"http request","z":"778fa11d.c85148","name":"data/livefeed","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://localhost:1880/data/livefeed","tls":"","persist":false,"proxy":"","authType":"","x":270,"y":1980,"wires":[["c9496ae9.a7982"]]},{"id":"c9496ae9.a7982","type":"ui_table","z":"778fa11d.c85148","group":"5f33ead1.0b9ae4","name":"","order":6,"width":"6","height":"9","columns":[],"outputs":0,"cts":false,"x":430,"y":1980,"wires":[]},{"id":"12b80e57.d12612","type":"function","z":"778fa11d.c85148","name":"","func":"// SQL Command to fetch data from database, todays input\nvar today = new Date()\nvar time = today.toLocaleTimeString();\nvar date = today.getDate()+'.'+(today.getMonth()+1)+'.'+today.getFullYear();\nconsole.log(\"SELECT date, time, data FROM BTdata WHERE date='\" + date +\"' ORDER BY time DESC;\");\nvar out = \"SELECT date, time, data FROM BTdata WHERE date='\" + date +\"' ORDER BY time DESC;\"\n    \nmsg.topic=out;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":1280,"wires":[["eeb80ecc.10572"]]},{"id":"16bb518d.ace4a6","type":"http in","z":"778fa11d.c85148","name":"","url":"/data/livefeed","method":"get","upload":false,"swaggerDoc":"","x":110,"y":1280,"wires":[["12b80e57.d12612"]]},{"id":"bb3b52f7.e3de78","type":"ui_text","z":"778fa11d.c85148","group":"5f33ead1.0b9ae4","order":5,"width":0,"height":0,"name":"","label":"Livefeed:","format":"{{msg.payload}}","layout":"row-spread","x":580,"y":1980,"wires":[]},{"id":"7afbb2e7.691264","type":"debug","z":"778fa11d.c85148","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":620,"y":100,"wires":[]},{"id":"ff653661.cf5f3","type":"inject","z":"778fa11d.c85148","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":1980,"wires":[["ddb4e505.ff45b8"]]},{"id":"c2454aaf.480ed8","type":"comment","z":"778fa11d.c85148","name":"1. This must be configured for the database to work","info":"","x":630,"y":500,"wires":[]},{"id":"e72af263.6cdd5","type":"comment","z":"778fa11d.c85148","name":"Endpoints for GET","info":"","x":110,"y":340,"wires":[]},{"id":"909ea157.ab7748","type":"comment","z":"778fa11d.c85148","name":"Dashboard + dasboard tables","info":"","x":140,"y":1360,"wires":[]},{"id":"bebf9b52.23886","type":"comment","z":"778fa11d.c85148","name":"MQTT broker for data input","info":"","x":140,"y":60,"wires":[]},{"id":"7c4fe4e0.d464e4","type":"comment","z":"778fa11d.c85148","name":"SQLite database","info":"","x":680,"y":220,"wires":[]},{"id":"e30dd487.b03488","type":"mqtt-broker","name":"Raspberry Broker","broker":"192.168.86.225","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e2781b5.a8d8668","type":"sqlitedb","db":"/home/pi/Desktop/MQTT_projekti/bt_data.db","mode":"RWC"},{"id":"f997e2dd.f488c8","type":"ui_group","name":"Today Unique Devices and Count","tab":"224b8faa.72309","order":2,"disp":true,"width":"6","collapse":false},{"id":"a1c86e0a.7a78","type":"ui_group","name":"Last Week Unique Devices and Count","tab":"224b8faa.72309","order":3,"disp":true,"width":"6","collapse":false},{"id":"f6b94987.5f9388","type":"ui_group","name":"All Unique Devices and Count","tab":"224b8faa.72309","order":4,"disp":true,"width":"6","collapse":false},{"id":"5f33ead1.0b9ae4","type":"ui_group","name":"Info","tab":"224b8faa.72309","order":1,"disp":true,"width":"6","collapse":false},{"id":"224b8faa.72309","type":"ui_tab","name":"Marco's Bluetooth Scanner","icon":"dashboard","disabled":false,"hidden":false}]