Node-Red-Flow/MQTT_Broker_Database_v2.json
[{"id":"6aba12e.8e2b96c","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"4f0240b8.2e1d6","type":"mqtt in","z":"6aba12e.8e2b96c","name":"Rasberry Broker","topic":"/esp32/#","qos":"2","datatype":"auto","broker":"e30dd487.b03488","x":120,"y":100,"wires":[["cb5cc7ed.2f32"]]},{"id":"34ee5534.2da25a","type":"function","z":"6aba12e.8e2b96c","name":"","func":"// SQL Command to insert data into database\nvar out = \"INSERT INTO BTdata (date, time, topic, data)\"\n\nvar today = new Date()\nvar time = today.toLocaleTimeString();\nvar date = today.getDate()+'.'+(today.getMonth()+1)+'.'+today.getFullYear();\n\nout = out + \"VALUES ('\" + date + \"','\" + time + \"','\" \nout = out + msg.topic + \"','\" + msg.payload + \"');\"\n    \nmsg.topic=out;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":100,"wires":[["9c0a3a27.cfaae8","82c6af1c.27d9a"]]},{"id":"9c0a3a27.cfaae8","type":"sqlite","z":"6aba12e.8e2b96c","mydb":"ec79899a.3a07b8","sqlquery":"msg.topic","sql":"","name":"BT database","x":510,"y":220,"wires":[[]]},{"id":"3ddeab76.048174","type":"inject","z":"6aba12e.8e2b96c","name":"CREATE TABLE","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"CREATE TABLE BTdata(id INTEGER PRIMARY KEY AUTOINCREMENT, date STRING, time STRING, topic STRING, data)","x":140,"y":220,"wires":[["9c0a3a27.cfaae8"]]},{"id":"82c6af1c.27d9a","type":"debug","z":"6aba12e.8e2b96c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":610,"y":100,"wires":[]},{"id":"cb5cc7ed.2f32","type":"delay","z":"6aba12e.8e2b96c","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":280,"y":100,"wires":[["34ee5534.2da25a"]]},{"id":"2475eb7f.45c06c","type":"sqlite","z":"6aba12e.8e2b96c","mydb":"ec79899a.3a07b8","sqlquery":"msg.topic","sql":"","name":"BT database","x":310,"y":340,"wires":[["a2fd268e.a566b"]]},{"id":"eacc83d7.46788","type":"inject","z":"6aba12e.8e2b96c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":false,"onceDelay":0.1,"topic":"SELECT * FROM BTdata;","payload":"","payloadType":"date","x":130,"y":340,"wires":[["2475eb7f.45c06c"]]},{"id":"a2fd268e.a566b","type":"json","z":"6aba12e.8e2b96c","name":"","property":"payload","action":"","pretty":false,"x":470,"y":340,"wires":[["3ae8ae9.84ae1d2"]]},{"id":"3ae8ae9.84ae1d2","type":"file","z":"6aba12e.8e2b96c","name":"BTdata JSON","filename":"bt_data.json","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":640,"y":340,"wires":[[]]},{"id":"929f9b9f.70415","type":"http in","z":"6aba12e.8e2b96c","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":100,"y":460,"wires":[["1d222957.77a37f"]]},{"id":"1b36c1bc.5d4c46","type":"change","z":"6aba12e.8e2b96c","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"application/json","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":460,"wires":[["8aabe7e6.518a3"]]},{"id":"8aabe7e6.518a3","type":"http response","z":"6aba12e.8e2b96c","name":"","statusCode":"","headers":{},"x":650,"y":460,"wires":[]},{"id":"1d222957.77a37f","type":"file in","z":"6aba12e.8e2b96c","name":"bt_data.json","filename":"bt_data.json","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":310,"y":460,"wires":[["1b36c1bc.5d4c46"]]},{"id":"23c6f310.6bc8d4","type":"comment","z":"6aba12e.8e2b96c","name":"1. Tämä pitää configuroida tietokannan tallentamista varten","info":"","x":520,"y":180,"wires":[]},{"id":"edad6ecb.bf037","type":"comment","z":"6aba12e.8e2b96c","name":"4. Paina kun olet deployannut","info":"","x":140,"y":180,"wires":[]},{"id":"de2aa105.c5e458","type":"comment","z":"6aba12e.8e2b96c","name":"2. Tietokanta tallennetaan JSON tiedostoksi, määritä mihin","info":"","x":650,"y":300,"wires":[]},{"id":"e8cc92a.bf066f","type":"comment","z":"6aba12e.8e2b96c","name":"3. Määritä mikä JSON tiedosto luetaan","info":"","x":330,"y":420,"wires":[]},{"id":"e30dd487.b03488","type":"mqtt-broker","z":"","name":"Raspberry Broker","broker":"192.168.86.225","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"ec79899a.3a07b8","type":"sqlitedb","z":"","db":"btdata.db","mode":"RWC"}]