Node-Red-Flow/MQTT_Broker_Database_v4.json
[{"id":"40b82dce.d22e5c","type":"tab","label":"Uusi MQTT DB","disabled":false,"info":""},{"id":"e81330a6.f184d","type":"mqtt in","z":"40b82dce.d22e5c","name":"Rasberry Broker","topic":"/esp32/#","qos":"2","datatype":"auto","broker":"e30dd487.b03488","x":120,"y":100,"wires":[["57d7510e.812fe8"]]},{"id":"af1c8854.49bf7","type":"function","z":"40b82dce.d22e5c","name":"","func":"// SQL Command to insert data into database\nvar out = \"INSERT INTO BTdata (date, time, topic, data)\"\n\nvar today = new Date()\nvar time = today.toLocaleTimeString();\nvar date = today.getDate()+'.'+(today.getMonth()+1)+'.'+today.getFullYear();\n\nout = out + \"VALUES ('\" + date + \"','\" + time + \"','\" \nout = out + msg.topic + \"','\" + msg.payload + \"');\"\n    \nmsg.topic=out;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":100,"wires":[["13db6d19.b0f69b"]]},{"id":"13db6d19.b0f69b","type":"sqlite","z":"40b82dce.d22e5c","mydb":"be277baf.30a088","sqlquery":"msg.topic","sql":"","name":"BT database","x":510,"y":220,"wires":[[]]},{"id":"90ac1210.ca3f7","type":"inject","z":"40b82dce.d22e5c","name":"CREATE TABLE","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"CREATE TABLE BTdata(id INTEGER PRIMARY KEY AUTOINCREMENT, date STRING, time STRING, topic STRING, data)","x":140,"y":220,"wires":[["13db6d19.b0f69b"]]},{"id":"ee430f60.72d348","type":"debug","z":"40b82dce.d22e5c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":630,"y":100,"wires":[]},{"id":"57d7510e.812fe8","type":"delay","z":"40b82dce.d22e5c","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":280,"y":100,"wires":[["af1c8854.49bf7"]]},{"id":"71be052.c80b1fc","type":"comment","z":"40b82dce.d22e5c","name":"1. Tämä pitää configuroida tietokannan tallentamista varten","info":"","x":520,"y":180,"wires":[]},{"id":"2495cd01.4708fa","type":"comment","z":"40b82dce.d22e5c","name":"2. Paina kun olet deployannut","info":"","x":140,"y":180,"wires":[]},{"id":"3726f372.6b751c","type":"http in","z":"40b82dce.d22e5c","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":80,"y":380,"wires":[["f8e82e60.fb266"]]},{"id":"f8e82e60.fb266","type":"change","z":"40b82dce.d22e5c","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"SELECT * FROM BTdata","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":380,"wires":[["2ee7aee3.aa8512"]]},{"id":"d53b6a5f.59a2b","type":"inject","z":"40b82dce.d22e5c","name":"POISTA DB, ÄLÄ PAINA TURHAAN","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"DROP TABLE BTdata","x":200,"y":280,"wires":[["13db6d19.b0f69b"]]},{"id":"f2d2f6b.74d4888","type":"http in","z":"40b82dce.d22e5c","name":"","url":"/data/today","method":"get","upload":false,"swaggerDoc":"","x":100,"y":440,"wires":[["e8bc84ba.96c328"]]},{"id":"e8bc84ba.96c328","type":"function","z":"40b82dce.d22e5c","name":"","func":"// SQL Command to fetch data from database, todays input\nvar today = new Date()\nvar time = today.toLocaleTimeString();\nvar date = today.getDate()+'.'+(today.getMonth()+1)+'.'+today.getFullYear();\nconsole.log(\"SQL COMMAND: SELECT * FROM BTdata WHERE date='\" + date +\"'\");\nvar out = \"SELECT * FROM BTdata WHERE date='\" + date +\"'\"\n    \nmsg.topic=out;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":440,"wires":[["2ee7aee3.aa8512"]]},{"id":"7448fc08.87d4b4","type":"change","z":"40b82dce.d22e5c","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"application/json","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":460,"wires":[["ac9cc999.84608"]]},{"id":"5d1c8b25.45db2c","type":"http in","z":"40b82dce.d22e5c","name":"","url":"/data/week","method":"get","upload":false,"swaggerDoc":"","x":100,"y":500,"wires":[["950c7481.35644"]]},{"id":"950c7481.35644","type":"function","z":"40b82dce.d22e5c","name":"","func":"// SQL Command to fetch data from database, todays input\n\nvar today = new Date();\nvar lastWeek = new Date(Date.now() - 604800000);\n\nvar time = today.toLocaleTimeString();\nvar date = today.getDate()+'.'+(today.getMonth()+1)+'.'+today.getFullYear();\nvar weekAgo = lastWeek.getDate()+'.'+(lastWeek.getMonth()+1)+'.'+lastWeek.getFullYear();\n\nconsole.log(\"SQL COMMAND: SELECT * FROM BTdata WHERE date BETWEEN '\" + weekAgo +\"' AND '\" + date +\"'\");\nvar out = \"SELECT * FROM BTdata WHERE date BETWEEN '\" + weekAgo +\"' AND '\" + date +\"'\"\n\nvar ourDate = new Date();\n\nmsg.topic=out;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":500,"wires":[["2ee7aee3.aa8512"]]},{"id":"2ee7aee3.aa8512","type":"sqlite","z":"40b82dce.d22e5c","mydb":"be277baf.30a088","sqlquery":"msg.topic","sql":"","name":"BT database","x":610,"y":540,"wires":[["7448fc08.87d4b4"]]},{"id":"ac9cc999.84608","type":"http response","z":"40b82dce.d22e5c","name":"","statusCode":"","headers":{},"x":750,"y":460,"wires":[]},{"id":"921879cb.6cfe28","type":"function","z":"40b82dce.d22e5c","name":"","func":"// SQL Command to fetch data from database, todays input\nvar today = new Date()\nvar time = today.toLocaleTimeString();\nvar date = today.getDate()+'.'+(today.getMonth()+1)+'.'+today.getFullYear();\nconsole.log(\"SQL COMMAND: SELECT COUNT ( DISTINCT data ) FROM BTdata WHERE date='\" + date +\"'\");\nvar out = \"SELECT COUNT ( DISTINCT data ) FROM BTdata WHERE date='\" + date +\"'\"\n    \nmsg.topic=out;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":680,"wires":[["2ee7aee3.aa8512"]]},{"id":"2b06d120.8c6776","type":"http in","z":"40b82dce.d22e5c","name":"","url":"/data/today/unique/count","method":"get","upload":false,"swaggerDoc":"","x":140,"y":680,"wires":[["921879cb.6cfe28"]]},{"id":"ced0d806.903d48","type":"http in","z":"40b82dce.d22e5c","name":"","url":"/data/week/unique/count","method":"get","upload":false,"swaggerDoc":"","x":140,"y":740,"wires":[["623304be.670aa4"]]},{"id":"623304be.670aa4","type":"function","z":"40b82dce.d22e5c","name":"","func":"// SQL Command to fetch data from database, todays input\n\nvar today = new Date();\nvar lastWeek = new Date(Date.now() - 604800000);\n\nvar time = today.toLocaleTimeString();\nvar date = today.getDate()+'.'+(today.getMonth()+1)+'.'+today.getFullYear();\nvar weekAgo = lastWeek.getDate()+'.'+(lastWeek.getMonth()+1)+'.'+lastWeek.getFullYear();\n\nconsole.log(\"SQL COMMAND: SELECT COUNT ( DISTINCT data ) FROM BTdata WHERE date BETWEEN '\" + weekAgo +\"' AND '\" + date +\"'\");\nvar out = \"SELECT COUNT ( DISTINCT data ) FROM BTdata WHERE date BETWEEN '\" + weekAgo +\"' AND '\" + date +\"'\"\n\nvar ourDate = new Date();\n\nmsg.topic=out;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":740,"wires":[["2ee7aee3.aa8512"]]},{"id":"67866484.ae9dc4","type":"function","z":"40b82dce.d22e5c","name":"","func":"// SQL Command to fetch data from database, todays input\nvar today = new Date()\nvar time = today.toLocaleTimeString();\nvar date = today.getDate()+'.'+(today.getMonth()+1)+'.'+today.getFullYear();\nconsole.log(\"SQL COMMAND: SELECT DISTINCT data FROM BTdata WHERE date='\" + date +\"'\");\nvar out = \"SELECT DISTINCT data FROM BTdata WHERE date='\" + date +\"'\"\n    \nmsg.topic=out;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":560,"wires":[["2ee7aee3.aa8512"]]},{"id":"bc71243b.d93b7","type":"http in","z":"40b82dce.d22e5c","name":"","url":"/data/today/unique","method":"get","upload":false,"swaggerDoc":"","x":120,"y":560,"wires":[["67866484.ae9dc4"]]},{"id":"98365c78.39994","type":"http in","z":"40b82dce.d22e5c","name":"","url":"/data/week/unique","method":"get","upload":false,"swaggerDoc":"","x":120,"y":620,"wires":[["79d1db27.1fe01c"]]},{"id":"79d1db27.1fe01c","type":"function","z":"40b82dce.d22e5c","name":"","func":"// SQL Command to fetch data from database, todays input\n\nvar today = new Date();\nvar lastWeek = new Date(Date.now() - 604800000);\n\nvar time = today.toLocaleTimeString();\nvar date = today.getDate()+'.'+(today.getMonth()+1)+'.'+today.getFullYear();\nvar weekAgo = lastWeek.getDate()+'.'+(lastWeek.getMonth()+1)+'.'+lastWeek.getFullYear();\n\nconsole.log(\"SQL COMMAND: SELECT DISTINCT data FROM BTdata WHERE date BETWEEN '\" + weekAgo +\"' AND '\" + date +\"'\");\nvar out = \"SELECT DISTINCT data  FROM BTdata WHERE date BETWEEN '\" + weekAgo +\"' AND '\" + date +\"'\"\n\nvar ourDate = new Date();\n\nmsg.topic=out;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":620,"wires":[["2ee7aee3.aa8512"]]},{"id":"73ac848f.91669c","type":"function","z":"40b82dce.d22e5c","name":"","func":"// SQL Command to fetch data from database, todays input\nvar today = new Date()\nvar time = today.toLocaleTimeString();\nvar date = today.getDate()+'.'+(today.getMonth()+1)+'.'+today.getFullYear();\nconsole.log(\"SQL COMMAND: SELECT COUNT ( DISTINCT data ) FROM BTdata WHERE date='\" + date +\"'\");\nvar out = \"SELECT COUNT (ALL id) FROM BTdata WHERE date='\" + date +\"'\"\n    \nmsg.topic=out;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":800,"wires":[["2ee7aee3.aa8512"]]},{"id":"696a26c1.598b28","type":"http in","z":"40b82dce.d22e5c","name":"","url":"/data/today/count","method":"get","upload":false,"swaggerDoc":"","x":120,"y":800,"wires":[["73ac848f.91669c"]]},{"id":"9a636fc5.4beca8","type":"http in","z":"40b82dce.d22e5c","name":"","url":"/data/week/count","method":"get","upload":false,"swaggerDoc":"","x":120,"y":860,"wires":[["928975b0.523e1"]]},{"id":"928975b0.523e1","type":"function","z":"40b82dce.d22e5c","name":"","func":"// SQL Command to fetch data from database, todays input\n\nvar today = new Date();\nvar lastWeek = new Date(Date.now() - 604800000);\n\nvar time = today.toLocaleTimeString();\nvar date = today.getDate()+'.'+(today.getMonth()+1)+'.'+today.getFullYear();\nvar weekAgo = lastWeek.getDate()+'.'+(lastWeek.getMonth()+1)+'.'+lastWeek.getFullYear();\n\nconsole.log(\"SQL COMMAND: SELECT COUNT ( DISTINCT data ) FROM BTdata WHERE date BETWEEN '\" + weekAgo +\"' AND '\" + date +\"'\");\nvar out = \"SELECT COUNT (ALL id) FROM BTdata WHERE date BETWEEN '\" + weekAgo +\"' AND '\" + date +\"'\"\n\nvar ourDate = new Date();\n\nmsg.topic=out;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":860,"wires":[["2ee7aee3.aa8512"]]},{"id":"cbedefe7.0ae9c8","type":"http in","z":"40b82dce.d22e5c","name":"","url":"/data/all/count","method":"get","upload":false,"swaggerDoc":"","x":110,"y":920,"wires":[["9658ee2.0f0979"]]},{"id":"9658ee2.0f0979","type":"function","z":"40b82dce.d22e5c","name":"","func":"// SQL Command to fetch data from database, todays input\n\nconsole.log(\"SELECT COUNT (ALL data) FROM BTdata\");\nvar out = \"SELECT COUNT (ALL data) FROM BTdata\";\n    \nmsg.topic=out;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":920,"wires":[["2ee7aee3.aa8512"]]},{"id":"cc4020f1.bb175","type":"function","z":"40b82dce.d22e5c","name":"","func":"// SQL Command to fetch data from database, todays input\n\nconsole.log(\"SQL COMMAND: SELECT DISTINCT data FROM BTdata\");\nvar out = \"SELECT DISTINCT data FROM BTdata\"\n    \nmsg.topic=out;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":980,"wires":[["2ee7aee3.aa8512"]]},{"id":"cf8924f2.39f068","type":"http in","z":"40b82dce.d22e5c","name":"","url":"/data/all/unique","method":"get","upload":false,"swaggerDoc":"","x":110,"y":980,"wires":[["cc4020f1.bb175"]]},{"id":"df7f7776.b10a28","type":"http in","z":"40b82dce.d22e5c","name":"","url":"/data/all/unique/count","method":"get","upload":false,"swaggerDoc":"","x":130,"y":1040,"wires":[["9c002799.c0e9e"]]},{"id":"9c002799.c0e9e","type":"function","z":"40b82dce.d22e5c","name":"","func":"// SQL Command to fetch data from database, todays input\n\nconsole.log(\"SQL COMMAND: SELECT DISTINCT data FROM BTdata\");\nvar out = \"SELECT COUNT (DISTINCT data) FROM BTdata\"\n    \nmsg.topic=out;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":1040,"wires":[["2ee7aee3.aa8512"]]},{"id":"e67b5093.932bc8","type":"http request","z":"40b82dce.d22e5c","name":"/data/today/uniquedata","method":"GET","ret":"obj","paytoqs":"ignore","url":"localhost:1880/data/today/uniquedata","tls":"","persist":false,"proxy":"","authType":"","x":330,"y":1300,"wires":[["736bbaad.e46484"]]},{"id":"736bbaad.e46484","type":"ui_table","z":"40b82dce.d22e5c","group":"4d55dd2c.0f1174","name":"","order":1,"width":"6","height":"12","columns":[],"outputs":0,"cts":false,"x":550,"y":1300,"wires":[]},{"id":"66ba9002.53bc9","type":"http request","z":"40b82dce.d22e5c","name":"today/unique/count","method":"GET","ret":"obj","paytoqs":"ignore","url":"localhost:1880/data/today/unique/count","tls":"","persist":false,"proxy":"","authType":"","x":310,"y":1340,"wires":[["4550e98c.c27cb8","bf34576b.2ec0f"]]},{"id":"4550e98c.c27cb8","type":"ui_table","z":"40b82dce.d22e5c","group":"4d55dd2c.0f1174","name":"","order":1,"width":0,"height":0,"columns":[],"outputs":0,"cts":false,"x":550,"y":1340,"wires":[]},{"id":"b51c3436.e30dd8","type":"ui_table","z":"40b82dce.d22e5c","group":"7c3d1ae2.3a029c","name":"","order":2,"width":0,"height":0,"columns":[],"outputs":0,"cts":false,"x":550,"y":1420,"wires":[]},{"id":"e1e715a.f82d568","type":"ui_table","z":"40b82dce.d22e5c","group":"7c3d1ae2.3a029c","name":"","order":1,"width":"6","height":"12","columns":[],"outputs":0,"cts":false,"x":550,"y":1380,"wires":[]},{"id":"c33ae185.083ed8","type":"http request","z":"40b82dce.d22e5c","name":"/data/week/uniquedata","method":"GET","ret":"obj","paytoqs":"ignore","url":"localhost:1880/data/week/uniquedata","tls":"","persist":false,"proxy":"","authType":"","x":320,"y":1380,"wires":[["e1e715a.f82d568"]]},{"id":"971b1ca4.034fa","type":"http request","z":"40b82dce.d22e5c","name":"week/unique/count","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://localhost:1880/data/week/unique/count","tls":"","persist":false,"proxy":"","authType":"","x":310,"y":1420,"wires":[["b51c3436.e30dd8","24c4b6e9.6a07c2"]]},{"id":"6560efb1.a9b7d8","type":"function","z":"40b82dce.d22e5c","name":"","func":"// SQL Command to fetch data from database, todays input\nvar today = new Date()\nvar time = today.toLocaleTimeString();\nvar date = today.getDate()+'.'+(today.getMonth()+1)+'.'+today.getFullYear();\nconsole.log(\"SELECT date, time, data FROM BTdata WHERE date='\" + date +\"' GROUP BY data ORDER BY time ASC;\");\nvar out = \"SELECT date, time, data FROM BTdata WHERE date='\" + date +\"' GROUP BY data ORDER BY time ASC;\"\n    \nmsg.topic=out;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":1100,"wires":[["2ee7aee3.aa8512"]]},{"id":"66a8dac.9229fa4","type":"http in","z":"40b82dce.d22e5c","name":"","url":"/data/today/uniquedata","method":"get","upload":false,"swaggerDoc":"","x":140,"y":1100,"wires":[["6560efb1.a9b7d8"]]},{"id":"b9ff8c2f.fbec2","type":"http in","z":"40b82dce.d22e5c","name":"","url":"/data/week/uniquedata","method":"get","upload":false,"swaggerDoc":"","x":140,"y":1160,"wires":[["dc61bdaa.a406f"]]},{"id":"dc61bdaa.a406f","type":"function","z":"40b82dce.d22e5c","name":"","func":"// SQL Command to fetch data from database, todays input\n\nvar today = new Date();\nvar lastWeek = new Date(Date.now() - 604800000);\n\nvar time = today.toLocaleTimeString();\nvar date = today.getDate()+'.'+(today.getMonth()+1)+'.'+today.getFullYear();\nvar weekAgo = lastWeek.getDate()+'.'+(lastWeek.getMonth()+1)+'.'+lastWeek.getFullYear();\n\nconsole.log(\"SELECT date, time, data FROM BTdata WHERE date BETWEEN '\" + weekAgo +\"' AND '\" + date +\"' GROUP BY data ORDER BY date, time ASC;\");\nvar out = \"SELECT date, time, data FROM BTdata WHERE date BETWEEN '\" + weekAgo +\"' AND '\" + date +\"' GROUP BY data ORDER BY date, time ASC;\";\n\nvar ourDate = new Date();\n\nmsg.topic=out;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":1160,"wires":[["2ee7aee3.aa8512"]]},{"id":"bf34576b.2ec0f","type":"json","z":"40b82dce.d22e5c","name":"","property":"payload[0][\"COUNT ( DISTINCT data )\"]","action":"","pretty":false,"x":230,"y":1580,"wires":[["9f827882.b5bdc8"]]},{"id":"6da606fb.b4ae1","type":"inject","z":"40b82dce.d22e5c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":90,"y":1400,"wires":[["66ba9002.53bc9","971b1ca4.034fa","a7db9e28.6af2a8","654497f8.efb7c8","e67b5093.932bc8","c33ae185.083ed8"]]},{"id":"9f827882.b5bdc8","type":"function","z":"40b82dce.d22e5c","name":"","func":"i = msg.payload[0][\"COUNT ( DISTINCT data )\"];\n\ni = Number(i);\nmsg.payload = i;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":1580,"wires":[["7e59b078.def1d"]]},{"id":"24c4b6e9.6a07c2","type":"json","z":"40b82dce.d22e5c","name":"","property":"payload[0][\"COUNT ( DISTINCT data )\"]","action":"","pretty":false,"x":230,"y":1640,"wires":[["689c92f0.4490d4"]]},{"id":"689c92f0.4490d4","type":"function","z":"40b82dce.d22e5c","name":"","func":"i = msg.payload[0][\"COUNT ( DISTINCT data )\"];\n\ni = Number(i);\nmsg.payload = i;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":1640,"wires":[["f8375784.a101f"]]},{"id":"a70a9ab6.3e9f4","type":"ui_table","z":"40b82dce.d22e5c","group":"f38649d5.06456","name":"","order":2,"width":0,"height":0,"columns":[],"outputs":0,"cts":false,"x":550,"y":1500,"wires":[]},{"id":"29148319.1517d4","type":"ui_table","z":"40b82dce.d22e5c","group":"f38649d5.06456","name":"table","order":1,"width":"6","height":"12","columns":[],"outputs":0,"cts":false,"x":550,"y":1460,"wires":[]},{"id":"654497f8.efb7c8","type":"http request","z":"40b82dce.d22e5c","name":"all/unique","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://localhost:1880/data/all/uniquedata","tls":"","persist":false,"proxy":"","authType":"","x":280,"y":1460,"wires":[["29148319.1517d4"]]},{"id":"a7db9e28.6af2a8","type":"http request","z":"40b82dce.d22e5c","name":"all/unique/count","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://localhost:1880/data/all/unique/count","tls":"","persist":false,"proxy":"","authType":"","x":300,"y":1500,"wires":[["a70a9ab6.3e9f4","7c8fb990.9b742"]]},{"id":"7c8fb990.9b742","type":"json","z":"40b82dce.d22e5c","name":"","property":"payload[0][\"COUNT ( DISTINCT data )\"]","action":"","pretty":false,"x":230,"y":1700,"wires":[["bd9f8d7d.76c2c"]]},{"id":"bd9f8d7d.76c2c","type":"function","z":"40b82dce.d22e5c","name":"","func":"i = msg.payload[0][\"COUNT (DISTINCT data)\"];\n\nmsg.payload = i;\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":1700,"wires":[["365dedc5.e143b2"]]},{"id":"1f52039b.754a5c","type":"http in","z":"40b82dce.d22e5c","name":"","url":"/data/all/uniquedata","method":"get","upload":false,"swaggerDoc":"","x":130,"y":1220,"wires":[["58d0ac44.5bfcec"]]},{"id":"58d0ac44.5bfcec","type":"function","z":"40b82dce.d22e5c","name":"","func":"// SQL Command to fetch data from database, todays input\n\nvar today = new Date();\nvar lastWeek = new Date(Date.now() - 604800000);\n\nvar time = today.toLocaleTimeString();\nvar date = today.getDate()+'.'+(today.getMonth()+1)+'.'+today.getFullYear();\nvar weekAgo = lastWeek.getDate()+'.'+(lastWeek.getMonth()+1)+'.'+lastWeek.getFullYear();\n\nconsole.log(\"SELECT date, time, data FROM BTdata GROUP BY data ORDER BY date, time ASC;\");\nvar out = \"SELECT date, time, data FROM BTdata GROUP BY data ORDER BY date, time ASC;\";\n\nvar ourDate = new Date();\n\nmsg.topic=out;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":1220,"wires":[["2ee7aee3.aa8512"]]},{"id":"7e59b078.def1d","type":"ui_text","z":"40b82dce.d22e5c","group":"c81c1fa7.a1e9a","order":0,"width":0,"height":0,"name":"","label":"New devices today:","format":"{{msg.payload}}","layout":"row-spread","x":590,"y":1580,"wires":[]},{"id":"f8375784.a101f","type":"ui_text","z":"40b82dce.d22e5c","group":"c81c1fa7.a1e9a","order":0,"width":0,"height":0,"name":"","label":"New devices this week:","format":"{{msg.payload}}","layout":"row-spread","x":610,"y":1640,"wires":[]},{"id":"365dedc5.e143b2","type":"ui_text","z":"40b82dce.d22e5c","group":"c81c1fa7.a1e9a","order":0,"width":0,"height":0,"name":"","label":"Devices total:","format":"{{msg.payload}}","layout":"row-spread","x":580,"y":1700,"wires":[]},{"id":"e30dd487.b03488","type":"mqtt-broker","z":"","name":"Raspberry Broker","broker":"192.168.86.225","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"be277baf.30a088","type":"sqlitedb","z":"","db":"C:\\koodausta\\Arduino\\Node-Red-Flow\\bt_data.db","mode":"RWC"},{"id":"4d55dd2c.0f1174","type":"ui_group","z":"","name":"Today Unique Devices and Count","tab":"98a8bbde.925fb","order":2,"disp":true,"width":"6","collapse":false},{"id":"7c3d1ae2.3a029c","type":"ui_group","z":"","name":"Last Week Unique Devices and Count","tab":"98a8bbde.925fb","order":3,"disp":true,"width":"6","collapse":false},{"id":"f38649d5.06456","type":"ui_group","z":"","name":"All Unique Devices and Count","tab":"98a8bbde.925fb","order":4,"disp":true,"width":"6","collapse":false},{"id":"c81c1fa7.a1e9a","type":"ui_group","z":"","name":"Info","tab":"98a8bbde.925fb","order":1,"disp":true,"width":"6","collapse":false},{"id":"98a8bbde.925fb","type":"ui_tab","z":"","name":"Team Arduino Bluetooth Scanner","icon":"dashboard","disabled":false,"hidden":false}]